img {
    height: auto;
    width: 400px;
  }

  html, body {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to bottom, #b2ebc7, #488a61);
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h1 {
  background: linear-gradient(to right, #cc7e25, #94826d);
  margin: 20px;
}

a {
  margin: 10px;
}